The primary goal of this mini-project is to clean, analyze, and visualize COVID-19 data to identify trends, patterns, and key insights. The specific objectives include:

Perform Data Cleaning: Handle missing values, standardize date formats, and filter out inconsistencies.

Explore Trends in COVID-19 Cases and Deaths:

Analyze daily and cumulative trends in infections and fatalities.

Compare case and death rates across different countries and regions.

Create Data Visualizations:

Line Plots: Show the trend of cases, deaths, and vaccinations over time.

Bar Charts: Compare cases, deaths, and vaccinations by country.

Scatter Plots: Explore relationships between infection rates and testing or vaccination rates.

In [3]:
#import required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# importing dataset

DT= pd.read_csv('my data/Dataset2.csv')

In [7]:
DT

          DATE    country    NEW Cases  NEW_DEATHS vaccinated
0    2024-11-01  Argentina         NaN         NaN     unknown
1    2024-11-01  Australia         0.0         0.0         327
2    2024-11-01  Australia         0.0         0.0         327
3    2024-11-01     Brazil       971.0        48.0         430
4    2024-11-01     Canada       176.0         8.0     unknown
..          ...        ...         ...         ...         ...
160  2024-11-30     Brazil       514.0        25.0     unknown
161  2024-11-30     Canada      1133.0        56.0         438
162  2024-11-30     Canada      1133.0        56.0         438
163  2024-11-30      China         0.0         0.0     unknown
164  2024-11-30      China         0.0         0.0     unknown

[165 rows x 5 columns]